<h2>Sign up</h2>

<div class="form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div id="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "Full Name" %>
    </div>

    <div id="field">
      <%= f.email_field :email, autocomplete: "email", :placeholder => "Email Address" %>
    </div>

    <div id="field">
      <% if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "new-password", :placeholder => "New Password (Min.6 Char.)" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Repeat Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>